<!--左侧菜单模板-->

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href=""><i class="fa fa-fw fa-dashboard"></i> 首页</a>
        </li>
        <!--<li>-->
            <!--<a href="javascript:;" data-toggle="collapse" data-target="#demo1">-->
                <!--<i class="fa fa-fw fa-arrows-v"></i> 管理员-->
                <!--<i class="fa fa-fw fa-caret-down"></i>-->
            <!--</a>-->
            <!--<ul id="demo1" class="collapse">-->
                <!--<li>-->
                    <!--<a href=""><i class="fa fa-fw fa-table"></i> 管理列表</a>-->
                <!--</li>-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href=""><i class="fa fa-fw fa-edit"></i> 你的资料</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href=""><i class="fa fa-fw fa-edit"></i> 你的密码</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--</ul>-->
        <!--</li>-->
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo2">
                <i class="fa fa-fw fa-arrows-v"></i> 会员
                <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="demo2" class="collapse">
                <li>
                    <a href=""><i class="fa fa-fw fa-table"></i> 会员列表</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-fw fa-edit"></i> 身份查询</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo3">
                <i class="fa fa-fw fa-arrows-v"></i> 管理员操作
                <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="demo3" class="collapse">
                <li>
                    <a href=""><i class="fa fa-fw fa-wrench"></i> 管理员列表</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-fw fa-wrench"></i> 管理员(你的)日志</a>
                </li>
            </ul>
        </li>
        <!--<li>-->
            <!--<a href=""><i class="fa fa-fw fa-dashboard"></i> 马甲格式</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href=""><i class="fa fa-fw fa-table"></i> 自定义单子</a>-->
        <!--</li>-->
    </ul>
</div>